html {
  height: 100%;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

body {
  width: 100%;
  // background-color: #497EA6;
  font-family: "Nanum Gothic";
  font-size: 16px;
  text-align: center;
}


